include ../../_mixins/menu-item.pug

nav.header-nav(class=`${isNoHeader ? 'header-nav--sticky' : 'header-nav--fixed'}`)
  div.header-nav-inner
    div.header-nav-menubtn
      i(class=theme.icon.menu_btn)
    div.header-nav-menu
      +menuItem(theme.menu)

    if theme.algolia_search.enable || theme.local_search.enable
      div.header-nav-search
        if !theme.menu_settings.text_only
          span.header-nav-search__icon
            i(class=theme.icon.search)
        if !theme.menu_settings.icon_only
          span.header-nav-search__text= __('nav.search')

    if theme.night_mode.enable
      div.header-nav-mode
        include ../widgets/night-mode.pug

if !isNoHeader
  div.header-banner(
    style=`${
      (theme.header.bg_image.enable && page.top_image)
        ? 'background: url(' + page.top_image + ') no-repeat center/cover;'
        : ''
    }`
  )
    div.header-banner-info
      div.header-banner-info__title= config.title
      div.header-banner-info__subtitle= config.aphorism

    if theme.header.scroll_down_icon.enable
      div.header-banner-arrow
        div.header-banner-arrow__icon
          i(class=theme.header.scroll_down_icon.name)
