-
  var HEXO_URL = 'http://hexo.io/';
  var STUN_URL = 'https://github.com/liuyib/hexo-theme-stun/';
  var isNoHeader = !theme.header.enable || (is_post() && !theme.header.show_on.post);
  var isEnableNoHeader = !theme.header.enable || !theme.header.show_on.post;

  var pjax = false;
  var dataPjax = {};
  if (theme.pjax.enable) {
    pjax = true;
    dataPjax = { 'data-pjax': '' };
  }

  var ccLicense = '';
  var ccLanguage = '';
  if (theme.creative_commons) {
    var cc = theme.creative_commons;
    ccLicense = cc.license && cc.license.toLowerCase();
    ccLanguage = cc.language && cc.language.toLowerCase() || 'en';
  }
  var ccUrl = `https://creativecommons.org/licenses/${ccLicense}/4.0/deed.${ccLanguage}`;

doctype html
html(lang=config.language)
  head
    include ./_partials/head/head.pug
  body
    div#container.container
      header#header.header
        div.header-inner.header-inner-no-index(class=`${isNoHeader ? 'header-inner--height header-inner--bgcolor' : ''}`)
          include ./_partials/header/header.pug

      include ./_layout_common.pug

    include ./_partials/search/index.pug

    include ./_scripts/vendors.pug
    include ./_third-party/search/index.pug

    if pjax
      include ./_third-party/pjax.pug

      div#pjax-reload
        include ./_third-party/math/index.pug
        include ./_third-party/quicklink.pug
        include ./_third-party/analytics/busuanzi.pug
    else
      include ./_third-party/math/index.pug
      include ./_third-party/quicklink.pug
      include ./_third-party/analytics/busuanzi.pug

    include ./_third-party/comments/index.pug
    include ./_third-party/advertising/index.pug
    include ./_scripts/stun.pug
